.header {
    padding-top: 3em;
    font-family: 'Slabo 27px', serif;
}

.content-row {
    padding-top: 20px;
}

.mydescription {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    font-size: 14pt;
    padding-top: 20px;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: black;
    padding-right: 3em;
}

.my-footer {
    padding-top: 2em;
}

.photo {
    max-height: 450px;
    margin: 0 auto;
}